
.pagination {
  margin:20px 20px;
  display: flex;
  list-style: none;
  outline: none;
  
  
}
.pagination > .active > a{
  background-color: green ;
  border-color: red ;
  color: beige;
}
.pagination > li > a{
  border: 1.5px solid darkgreen ;
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
  border-radius: 10px
  
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color:green ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: black;
 background-color: #e28743
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: 10px 5px
}
.ui.cards>.card>.content>a.header{
  color:black;
  margin-bottom: 5px
}
.ui.cards>.card>.content>a.header:hover {
    text-decoration-line: underline;
    color: black;
    
}
.pagination > li > a:hover{
    background-color:#eab676
 ;
}